*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

:root {
  --text-font: 'Roboto', sans-serif;
  --text-main-color: #757575;
  --text-head-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-main: #2f303a;
  --background-team: #f5f4fa;
  --border-work-examples: #eeeeee;
}

body {
  font-family: var(--text-font);
  color: var(--text-main-color);
}

/* ======== LINK DECORATION ========= */
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ======== LINK DECORATION END ========= */

/* ======== REPEATING STYLES ========= */

.title-for-two-blocks {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-head-color);
  margin-bottom: 50px;
}

.container {
  width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.border-btn {
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  text-align: center;
}

.margin-blocks {
  margin-bottom: 95px;
}
/* ======== REPEATING STYLES END ========= */

/* ======== BLOCK LOGO ========= */

.logo-main {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.basement-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.logo-portfolio {
  color: var(--black-color);
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.logo-blue {
  color: var(--accent-color);
}

/* ======== BLOCK LOGO END ========= */

/* ======== BLOCK NAVIGATION ========= */

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-head-color);
}

.studio-blue {
  color: var(--accent-color);
}

.portfolio-blue {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

/* .header-main {
  outline: 2px solid red;
} */

/* ======== BLOCK NAVIGATION END ========= */

/* ======== BLOCK CONTACTS ========= */

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* ======== BLOCK CONTACTS END ========= */

/* ======== HERO BLOCK ========= */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}

.hero {
  background-color: var(--background-main);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

/* ======== HERO BLOCK END ========= */

/* ======== HIDDEN HEADER ========= */

/* ======== HIDDEN HEADER END ========= */

/* ======== FEATURES BLOCK ========= */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-head-color);
  margin-bottom: 10px;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* .features {
  background-color: teal;
} */
/* =====  === FEATURES BLOCK END ========= */

/* ======== WHAT WE DO BLOCK ========= */

/* .what-we-do {
  background-color: teal;
} */

/* ======== WHAT WE DO BLOCK END ========= */

/* ======== OUR TEAM BLOCK ========= */

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--text-head-color);
  margin-bottom: 10px;
}

.our-team-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  padding-bottom: 30px;
}

.our-team {
  text-align: center;
  padding: 95px 0;
  background-color: var(--background-team);
}

.our-team-img {
  margin-bottom: 30px;
}

.our-team-item {
  width: 270px;
  height: 368px;
  /* display: inline-block; */
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* ======== OUR TEAM BLOCK END ========= */

/* ======== FOOTER ========= */

.address-text {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 9px;
}

.basement-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.basement-contacts-link:hover,
.basement-contacts-link:focus {
  color: var(--accent-color);
}

.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-main);
}

/* ======== FOOTER END ========= */

/* ======== PORTFOLIO LINK BLOCK ========= */

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background: var(--background-team);
  color: var(--text-head-color);
  padding: 6px 22px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-bt-item {
  margin-bottom: 50px;
}

/* ======== PORTFOLIO LINK BLOCK END ========= */

/* ======== WORK EXAMPLES BLOCK ========= */

.work-examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-head-color);
}

.work-examples-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

.description-foto {
  padding: 20px 24px;
}

.work-examples-item {
  border: 1px solid var(--border-work-examples);
  height: 404px;
  width: 370px;
}
/* ======== WORK EXAMPLES BLOCK END ========= */
